<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Style is Skeleton CSS. Template by Taylor Tabb [http://tabb.me]. Originally created for SigEp CMU's personal website workshop in Spring 2019. -->


  <!-- Basic Page Needs | You can replace your description and name with your description and name. The description may show up in search results.
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta charset="utf-8">
  	<meta name="description" content=" {{ mission }}"> 
  	<meta name="author" content="{{ firstname }} {{ lastname }}">

  <!-- Mobile Specific Metas | Ensures the site looks good on mobile
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT | To pick a new font, head to https://fonts.google.com/
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

  <!-- CSS | These are the stylesheets that make this site look as it does
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<link rel="stylesheet" type="text/css" href="https://go.tabb.me/samplesite/css/normalize.css">
  	<link rel="stylesheet" type="text/css" href="https://go.tabb.me/samplesite/css/skeleton.css">
  <!-- Favicon | This is the little icon that shows up above the URL bar and in bookmarks
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<link rel="icon" type="image/png" href="images/favicon.png">

  </head>
  <style>
  body {
  	font-family: 'Roboto', sans-serif;
  	color:#101010; 
  	background-color: white ;
  }
  
  a {
  	color: #101010;
  	text-decoration:none; }
  	
  	a:hover {
  		color: #101010;
  		text-decoration:none;
  		line-height: 1.13;
  	}

  	.underline {
  		display: inline-block;
  		line-height: 1.15;

  	}
  	
  </style>
  <body>

  <!-- Primary Page Layout | This is for you to edit! Replace Moana's info with yours :)
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<div class="container">
  		<div class="row">
  			<div class="ten columns offset-by-one" style="margin-top: 10%">

  				<h5> 
  					<span class="underline" style="border-bottom: 3.5px solid cyan;">{{ firstname }} {{ lastname }}</span> </h5>

  					<h5>
  						{{ mission }}
  					</h5>

  					<h5>

  						{{ iam1_title }} at <a class="underline" style="border-bottom: 3.5px solid magenta;" href="{{ iam1_link }}" target="_blank">{{ iam1_at }}</a>. 

  						{{ iam2_title }} at <a class="underline" style="border-bottom: 3.5px solid magenta;" href="{{ iam2_link }}" target="_blank">{{ iam2_at }}</a>. 

  						And {{ iam3_title }} at <a class="underline" style="border-bottom: 3.5px solid magenta;" href="{{ iam3_link }}" target="_blank">{{ iam3_at }}</a></h5>


  					</div>
  				</div>
  			</div>
<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>